{
  "extends": [
    "stylelint-config-prettier",
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "plugins": [
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
    "no-descending-specificity": null,
    "length-zero-no-unit": null,
    "no-duplicate-selectors": null,
    "function-name-case": null,
    "declaration-empty-line-before": null,
    "declaration-block-no-duplicate-properties": null,
    "selector-pseudo-element-colon-notation": null
  }
}
